name: Generate Pacman

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - main
      - master

permissions:
  contents: write

concurrency:
  group: snake-${{ github.ref }}
  cancel-in-progress: true

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Generate Pac-Man SVG
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/pacman-contribution-graph.svg? color_snake=yellow&color_dots=#d9e0ee,#f5c2e7,#f2cdcd,#f5e0dc,#eba0ac&dark_color_dots=#161b22,#0e4429,#006d32,#26a641,#39d353
            dist/pacman-contribution-graph-dark.svg?palette=github-dark&color_snake=yellow&color_dots=#161b22,#0e4429,#006d32,#26a641,#39d353

      - name: Push assets to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
          keep_files: false
          commit_message: "chore: update pacman animation"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
